In [1]:
%pip install --upgrade --quiet  langchain langchain-community langchain-openai

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 817.7/817.7 kB 4.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 13.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 287.5/287.5 kB 15.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 104.2/104.2 kB 10.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 268.3/268.3 kB 15.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 23.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.4/49.4 kB 4.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 53.0/53.0 kB 946.6 kB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 144.8/144.8 kB 12.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.6/75.6 kB 8.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.9/77.9 kB 7.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 6.0 MB/s eta 0:00:00

In [34]:
from langchain_community.agent_toolkits import create_sql_agent
from langchain_openai import ChatOpenAI
# from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents.agent_types import AgentType
from langchain_community.utilities import SQLDatabase
import getpass
import os

os.environ["OPENAI_API_KEY"] = '
db = SQLDatabase.from_uri("sqlite:///chinook.db")
# print(db.dialect)
# print(db.get_usable_table_names())
# db.run("SELECT * FROM Artists LIMIT 10;")

llm = ChatOpenAI(model="gpt-3.5-turbo", temperature=0)
agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=True, agent_executor_kwargs={"return_intermediate_steps": True})

# response=agent_executor.invoke(
#     "List the total sales per country. Which country's customers spent the most?"
# )

# response = agent_executor.__call__("List the total sales per country. Which country's customers spent the most?")
# response = agent_executor.__call__("what is the most purchased track of 2013.")
response = agent_executor.__call__("who are the top 3 best selling artists.")
print(type(response["intermediate_steps"]))

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{'tool_input': ''}`


albums, artists, customers, employees, genres, invoice_items, invoices, media_types, playlist_track, playlists, tracks
Invoking: `sql_db_schema` with `{'table_names': 'artists'}`



CREATE TABLE artists (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from artists table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/
Invoking: `sql_db_query` with `{'query': 'SELECT artists.Name AS Artist, COUNT(invoice_items.TrackId) AS Total_Sales FROM artists JOIN albums ON artists.ArtistId = albums.ArtistId JOIN tracks ON albums.AlbumId = tracks.AlbumId JOIN invoice_items ON tracks.TrackId = invoice_items.TrackId GROUP BY artists.Name ORDER BY Total_Sales DESC LIMIT 3'}`


[('Iron Maiden', 140), ('U2', 107), ('Metallica', 91)]The top 3 best selling artists are:
1. Iron Maiden - 140 total sales
2. U2 - 107 total sales
3. Metallica - 91 total sales

> Finished chain.
<class 'list'>

In [35]:
for i in range(len(response['intermediate_steps'])):
    print(response['intermediate_steps'][i][0].log, end='\n')

Invoking: `sql_db_list_tables` with `{'tool_input': ''}`




Invoking: `sql_db_schema` with `{'table_names': 'artists'}`




Invoking: `sql_db_query` with `{'query': 'SELECT artists.Name AS Artist, COUNT(invoice_items.TrackId) AS Total_Sales FROM artists JOIN albums ON artists.ArtistId = albums.ArtistId JOIN tracks ON albums.AlbumId = tracks.AlbumId JOIN invoice_items ON tracks.TrackId = invoice_items.TrackId GROUP BY artists.Name ORDER BY Total_Sales DESC LIMIT 3'}`